.icon-bar {
	
	.item {
	border: 2px solid #fff;
		
	}
	a:first-child {
		background-color: $primary-color;
	};
	
	a:nth-child(2) {
		background-color: $info-color;
	}

	a:nth-child(3) {
		background-color: $success-color;
	}

	a:nth-child(4) {
		background-color: $warning-color;
	}

	a:nth-child(5) {
		background-color: $extra-color;
	}
	
	a:nth-child(6) {
		background-color: $alert-color;
	}
}

@media #{$small-only} {
	
	.icon-bar .item {
		width: 100% !important;
	}
}
