$mh-crop: 60%;
$mh-crop-inverse: 100% - $mh-crop;

.orbit-container {
	background-color: #000;
}

.mh-page-title {
	@extend .mh-media;
	position: relative;
	overflow: hidden;
	
	#mh-site-logo {
		padding: $small-spacing;
	}

	.mh-body {
		@extend .mh-overlay;
		top: auto;
		height: auto;
		
		width: 100%;
		background-color: rgba(0,0,0,.5);
		padding: $small-spacing $large-spacing;
		
	    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	    display: -ms-flexbox;      /* TWEENER - IE 10 */
	    display: -webkit-flex; 
	    display: flex;
				
		h1 {
		    -webkit-box-flex: 2 0;      /* OLD - iOS 6-, Safari 3.1-6 */
		    -moz-box-flex: 2 0;         /* OLD - Firefox 19- */
		    width: 20%;               /* For old syntax, otherwise collapses. */
		    -webkit-flex: 2 0 auto;          /* Chrome */
		    -ms-flex: 2 0 auto;              /* IE 10 */
		    flex: 2 0 auto;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
			
			font:{
				size: $base-font-size;
				weight: bold;
			};
			color: #fff;
			text-align: right;
			padding-right:  $small-spacing;
			margin-right: $small-spacing;
			border-right: 1px solid #fff;
		}
		
		p {
			margin-bottom: 0;
			color: #fff;
			
			&.description {
			    -webkit-box-flex: 3 0;      /* OLD - iOS 6-, Safari 3.1-6 */
			    -moz-box-flex: 3 0;         /* OLD - Firefox 19- */
			    width: 50%;               /* For old syntax, otherwise collapses. */
			    -webkit-flex: 3 0 50%;          /* Chrome */
			    -ms-flex: 3 0 50%;              /* IE 10 */
				flex: 3 0 50%;
				margin-right: $spacing;
				font: {
					size: $base-font-size;
				};
			}

			&.cta {
			    -webkit-box-flex: 1 0;      /* OLD - iOS 6-, Safari 3.1-6 */
			    -moz-box-flex: 1 0;         /* OLD - Firefox 19- */
			    width: 20%;               /* For old syntax, otherwise collapses. */
			    -webkit-flex: 1 0 20%;          /* Chrome */
			    -ms-flex: 1 0 20%;              /* IE 10 */
				
				flex: 1 0 20%;
				
				a {
					margin-bottom: 0;
				}
			}
		}
		
		
	}
	
}

@media #{$small-only} {
	.mh-page-title {
		
		.mh-body {
			position: static;
			background-color: #000;
			
			h1 {
			    -webkit-box-flex: 1 0;      /* OLD - iOS 6-, Safari 3.1-6 */
			    -moz-box-flex: 1 0;         /* OLD - Firefox 19- */
			    width: 50%;               /* For old syntax, otherwise collapses. */
			    -webkit-flex: 1 0 50%;          /* Chrome */
			    -ms-flex: 1 0 50%;              /* IE 10 */
				
				flex: 1 0 50%;
				font:{
					size: $base-font-size;
					weight: bold;
				};
				color: #fff;
				text-align: right;
				padding-right:  $small-spacing;
				margin-right: $small-spacing;
				border-right: 1px solid #fff;
			}
			
			p {
				&.description {
					display: none;
				}
						
				&.cta {
				    -webkit-box-flex: 1 0;      /* OLD - iOS 6-, Safari 3.1-6 */
				    -moz-box-flex: 1 0;         /* OLD - Firefox 19- */
				    width: 50%;               /* For old syntax, otherwise collapses. */
				    -webkit-flex: 1 0 50%;          /* Chrome */
				    -ms-flex: 1 0 50%;              /* IE 10 */
					flex: 1 0 50%;
					
					a {
						padding: 0.3rem 0.8rem;
					}
				}
				
			}

		}
	}
}

@media #{$medium-only} {
	.mh-page-title {
		
		.mh-body {
			position: static;
			background-color: #000;
			
			p.description {
				font: {
					size: $base-font-size;
				};
				
			}
			
			p.cta {
				a {
//					padding: 0.3rem 0.8rem;
				}
			}
		}
	}
	
}