<div id="mh-direct-links" class="row expanded small-up-2 medium-up-6 large-up-6 ">
	<div class="column">
		<a href="/contents/static_pages/view/admisiones"><img src="/assets/img/links/estudiar_en_miralba.png" width="48" alt=""><label>Estudiar en Miralba</label></a>
	</div>
	<div class="column">
		<a href="https://www.jesuitinas.net/miralba/alumno/login.asp"><img src="/assets/img/links/plataforma_familias.png" width="48" alt=""><label class="main-section">Plataforma familias</label></a>
	</div>
	<div class="column">
		<a href="/blog/cd_miralba"><img src="/assets/img/links/club_deportivo.png" width="48" alt=""><label class="main-section">Estudiar en Miralba</label></a>
	</div>
	<div class="column">
		<a href="http://www.jesuitinas.org"><img src="/assets/img/links/hijas_de_jesus.png" width="48" alt=""><label class="main-section">Hijas de Jesús</label></a>
	</div>

	<div class="column">
		<a href="http://www.fasfi.org/"><img src="/assets/img/links/fasfi.png" width="48" alt=""><label class="main-section">FASFI</label></a>
	</div>
	<div class="column">
		<a href="/blog/antiguos_alumnos"><img src="/assets/img/links/todo_contenido.png" width="48" alt=""><label class="main-section">Antiguos alumnos</label></a>
	</div>
</div>
