webroot/img/
webroot/files/

config/google_api.json

config/database.php

config/mh13.php
tmp/

/vendor/

/vendors/cakephp/

/frontend/node_modules/
/webroot/assets/
/config/config.yml
/ansistrano/
/bin/doctrine-dbal
/bin/
