webroot/img/
webroot/files/

config/google_api.json

config/database.php

config/mh13.php
tmp/

/vendor/

/vendors/cakephp/

/frontend/node_modules/
/webroot/assets-old/
/config/config.yml
/ansistrano/
/bin/doctrine-dbal
/bin/

webroot/.DS_Store
frontend/dist/
frontend/src/gulp/
frontend/src/js/vendor/vue-resource.js
frontend/src/js/vendor/vue.js
locale/eng/
models/
node_modules/
webroot/js/
