<!doctype html>
<html class="no-js" lang="en">
	{{ include ('elements/page/head.twig') }}
  <body>
	{{ include('elements/page/analytics.twig') }}
	{{ include('elements/mh-global-navigation.twig') }}
	<div id="mh-messages">
		{# echo $this->Session->flash(); #}
		{# echo $this->Session->flash('auth'); #}
		<div id="output"></div>
	</div>
	{% block content %}
	{% endblock %}
	{{ include ('elements/page/foot.twig') }}
  </body>
</html>
