<div class="small-up-1 medium-up-4 large-up-6 row">
    {% for blog in blogs %}
        <div class="column">
            {% set icon = blog.icon ? blog.icon : web.icon %}
            <a href="/blog/{{ blog.slug }}">
                <div class="media-object button">
                    <div class="media-object-section align-self-center">
                        <img src="{{ icon }}" alt="" width="32">
                    </div>
                    <div class="media-object-section main-section text-left">{{ blog.title }}</div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
