/* Don't print these elements */
@page {
	size: auto;
	margin: 20mm 15mm 15mm 20mm;
}

@page:left {
  margin-left: 15mm;
  margin-right: 20mm;
}

@page:right {
  margin-left: 20mm;
  margin-right: 15mm;
}

.only-print {
	display: block !important;
}

.no-print {
	display: none !important;
}


#backend-menu,
.mh-admin-panel-menu,
.mh-filter-form,
.actions,
.mh-button,
.mh-admin-widget
{
	display: none !important;
}

.mh-admin-panel {
	background-color: transparent;
	overflow: hidden;
}

.mh-admin-panel-header {
	background-color: transparent;
}

.mh-admin-panel-heading {
	color: #000;
	background-color: transparent;
}


.page-break-before {
	page-break-before: always; 
}

table.full-print-table {
	width: 100%;
}

.message {margin: 1em; padding: 0.5em;}

table {background-color: transparent;border-left: 1px solid #ccc; border-right: 1px solid #ccc;border-collapse: collapse;}
thead {display: table-header-group; border: 1px solid #000;}
thead tr {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}
tbody {display: table-row-group; border: none; }
tr {page-break-inside: avoid;}
tr:nth-child(even){background-color:#F2F2F2;}
.breakrow {
	background-color: #555;
	color: #fff;
	padding-top: 6px;
	font-weight: bold;
}

th {font-size: 10px; padding: 3px 6px;border-left: 1px solid #fff;}
td {font-size: 12px; padding: 3px 6px;border-bottom: 1px solid #ccc;border-left: 1px solid #ddd;vertical-align: top;}
th:first-child, td:first-child {border-left: none;}

.cell-stretch {
	white-space:nowrap;
	width: 1px;
}


.cell-number {
	text-align: right;
}

.cell-short {
	width: 4rem;
}

.cell-medium {
	width: 7rem;
}

.cell-long {
	width: 10rem;
}

