<ul class="mh-calendar-events-list">
	{% for event in events %}
	<li class="media-object">
		<div class="media-object-section">{{ event.Event.startDate|date('j/m')}} - {{event.Event.startTime|date('H:m')}}</div>
		<div class="media-object-section main-section">
            {{ event.title }}</h2>
		</div>
	</li>
	{% else %}
	    <p>No tenemos eventos programados.</p>
	{% endfor %}
</ul>
