{% import 'macros/blocks.twig' as blocks %}
{% set body %}
<div id="{{selector}}"></div>
{% endset %}
{{ blocks.widget( title, body, icon )}}
<script type="text/javascript">
$("#{{ selector }}").load('/menus/menus/items/{{ menu }}');
</script>
