<!-- 1. Link to jQuery (1.8 or later), -->
{# http://fotorama.io #}
<!-- fotorama.css & fotorama.js. -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

<!-- 2. Add images to <div class="fotorama"></div>. -->


<!-- 3. Enjoy! -->
<div class="gallery">
    <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native">
    {% for image in images %}
        <img src="{{ image.path }}"/>
    {% endfor %}
    </div>
</div>
