<li class="clearing-featured-img th">
	<a href="{{ BaseUrl ~ image.path }}">Image{# echo $this->Image->render(array('size' => 'itemGalleryThumb', 'attr' => array('data-caption' => $this->Image->caption()))); #}</a>
</li>
