/* mh13/oocss/lists.css */
/* MENU AND LISTINGS CLASSES */

.list {
	list-style-position: inside;
}
	.list-item {
	}
	
	ul {
		list-style-type: disc;
	}
	
	ol {
		list-style-type: decimal;
	}
	
	ul ul, ul ol, ol ul, ol ol {
		padding-left: 15px;
	}
	
.menu {
	list-style: none;
}

.menu-item {/*extends: .media;*/
	list-style: none;
}
	.menu-item:hover {
		background-color: #000;
		color: #fff;
	}
	.menu-item.featured {
		font-weight: bold;
	}
	.menu-item:first-child {
	}
	.menu-item:last-child {
	}
		.menu-item-link {
			display: block;
			padding: 3px 5px;
			text-decoration: none;
			color: inherit;
			font-size: inherit;
		}
		.menu-item-link span {
		}
	.menu-item .media-object {
		margin-top: 3px;
		margin-left: 5px;
	}
	.menu-item .media-object-alt {
		margin-top: 3px;
		margin-right: 5px;
	}
	
/* Horizontal menu */
.horizontal-menu{/*extends menu*/}
.horizontal-menu li{display:inline-block;}
.horizontal-menu .menu-item{border-bottom:none;}
