/* mh13/oocss/messages.css */
/* MESSAGES */
div#output,
div#flashMessage,
div#authMessage {
position: fixed;
left: 50%;
margin-left: -150px;
top: 20px;
width: 300px;
min-height: 50px;
/*padding: 15px;
*/
display: none;
z-index: 10000;
}

.message,
.mh-message {
font-size: 14px;
line-height: 18px;
font-weight: bold;
background-color: #006D07;
color: #fff;
border: 1px solid #062614;
margin-bottom: 5px;
border-radius: 5px;
-moz-border-radius: 5px;
padding: 10px 10px 10px 40px;
box-shadow: 0px 3px 8px 1px rgba(0,0,0,.3);
box-shadow: inset 0px 18px 24px 0px rgba(255,255,256,.4);

}
.mh-message:before {
font-family: IconicFill;
font-size: 24px;
margin-right: 20px;
content: '\e004';
margin-left: -30px;
vertical-align: top;
}
.mh-info {
color: #00529B;
background-color: #BDE5F8;
border-color: #00529B;
}
.mh-info:before {
content: '\2139';
}
.mh-success {
color: #006D07;
background-color: #C2FFC4;
border-color: #006D07;
}
.mh-success:before {
content: '\2718';
}
.mh-alert {
color: #9F6000;
background-color: #FEE6C0;
border-color: #9F6000;
}
.mh-alert:before {
content: '\e025';
}
.mh-error {
color: #D8000C;
background-color: #FDBFC1;
border-color: #D8000C;
}
.mh-error:before {
content: '\2714';
}
.mh-validation {
color: #DB4916;
background-color: #FDD0C0;
border-color: #DB4916;
}
.mh-validation:before {
content: '\e015';
}
