{% extends 'layouts/main.twig' %}
{% block content %}
	<header>
		<h1>Próximos eventos</h1>
	</header>
	<div class="body">
		<ul class="mh-calendar-events-list">
			{% for event in events %}
			<li class="row">
				<div class="small-3 medium-2 columns">
                    {{ event.startDate|date('j/m') }} - {{ event.startTime|date('H:i') }}
				</div>
				<div class="small-9 medium-10 columns">
					<header>
						<h2>{{ event.title }}</h2>
					</header>
					<p>{{ event.description|nl2br|raw }} </p>
				</div>
			</li>
			{% else %}
			    <p>No tenemos eventos programados.</p>
			{% endfor %}
		</ul>
	</div>
	<footer></footer>

{% endblock %}
