{% extends 'layouts/main.twig' %}
{% block content %}
    <div class="card">
        <header class="card-divider">
            <h2>{{ circular.addressee }}</h2>
            <h1>{{ circular.type }}: {{ circular.title }}</h1>
		</header>
        <div class="card-section">
            {{ circular.content|nl2br }}
        </div>
        <div class="card-divider">
            <p><a href="https://www.jesuitinas.net/miralba/alumno/login.asp">Consulta la Plataforma educativa para más
                    información.</a></p>
        </div>
	</div>
{% endblock %}
