{% import 'macros/blocks.twig' as blocks %}
{% set body %}
    <p><a href="/access/users/forgot" class="button primary expand">Recuperar contraseña</a></p>
{% endset %}
{{ blocks.widget('¿Has olvidado tus credenciales?', body, key) }}
