<aside class="mh-page-extras" id="mh-downloads">
    <h2 class="mh-page-extras-title">Descargas</h2>
    <div class="small-up-2 large-up-4 row">
        {% for download in item.Download %}
            <div class="column">
                <a href="{{ download.path }}" class="mh-download-button">
                    <div class="card">
                        <div class="card-section">
                            <p class="mh-download-name"><strong>{{ download.name|humanize }}</strong></p>

                        </div>
                        <div class="card-divider">
                            <p class="clearfix">
                                <small class="float-left">{{ download.size|readable_size }}</small>
                                <small class="float-right">{{ download.type }}</small>
                            </p>

                        </div>
                    </div>

                </a>
            </div>
        {% endfor %}
    </div>
</aside>
