{% import 'macros/blocks.twig' as blocks %}
{% set labels = [] %}
{% set widget_body %}
    {% for label in labels %}
		<p class="mh-tag"><a href="/contents/channels/tagged/{{ blog.slug }}/{{ label.id }}">{{ label.title }}</a></p>
	{% else %}
	<p>Este artículo no ha sido etiquetado todavía.</p>
	{% endfor %}
{% endset %}
{{ blocks.widget('Etiquetas', widget_body, 'fi-price-tag') }}
