{% extends 'layouts/main.twig' %}

{% block header %}
    {% import 'macros/headers.twig' as headers %}
    {{ headers.site(site.title, site.description) }}
    <div class="container mh-channel-menu">{# echo $this->Channel->menu(); #}</div>
{% endblock %}

{% block content %}
    {% import 'macros/modules.twig' as modules %}

    {{ modules.widget('mh-site-home', '/contents/items/catalog/limit:10/siteName:'~site.key~'/sticky:0/paginate:1/layout:feed', 'Últimas entradas', '', 'mh-catalog') }}
{% endblock %}

{% block sidebar %}
    {% include 'plugins/contents/sites/widgets/description.twig' with {'site' : site } only %}
    {% include 'plugins/contents/sites/widgets/channels.twig' with {'channels' : channels } only %}
    {{ parent() }}
{% endblock %}