{% extends 'layouts/main.twig' %}

{% block header %}
    {% import 'macros/headers.twig' as headers %}
    {{ headers.site(site.title, site.description) }}
    <div class="container mh-channel-menu">{# echo $this->Channel->menu(); #}</div>
{% endblock %}

{% block content %}
    {% import 'macros/modules.twig' as modules %}

    {% include 'elements/modules/articles.twig' with {
    'feeds': [
    { id: 'mh-site-home', title: 'Portada', url: '/api/articles?site=%site%&sticky=0&page=1&layout=feed'|replace ({'%site%': site.name}) },

    ]
    } only %}

{% endblock %}

{% block sidebar %}
    {% include 'plugins/contents/sites/widgets/description.twig' with {'site' : site } only %}
    {#{% include 'plugins/contents/sites/widgets/channels.twig' with {'channels' : channels } only %}#}
    {{ parent() }}
{% endblock %}
