.top-bar
{
    z-index: 1000;
    ul li a
    {
        font-family: $interface-font;
        font-size: 80%;
        font-weight: 300;

        color: $black;

        i
        {
            color: $secondary-color;

          &:before {
            font-size: 2rem;
            overflow: hidden;
            max-height: 1rem;
            line-height: 1rem;
          }
        }

    }

    li.divider
    {
        height: 1px;

        border-bottom: 1px solid $medium-gray;
    }


    .top-bar-title
    {
        font-family: $interface-font;
        font-size: 80%;
    }
}
