$image-small: 4rem;
$image-medium: 6rem;
$image-large: 12rem;
$image-x-large: 15rem;

.mh-image-crop
{
    position: relative;

    overflow: hidden;

    width: 51px;
    height: 51px;

    background-color: gray;
    background-position: center;
    background-size: cover;

    &.small
    {
        width: $image-small;
        height: $image-small;
    }

    &.medium
    {
        width: $image-medium;
        height: $image-medium;
    }

    &.large
    {
        width: $image-large;
        height: $image-large;
    }

    &.x-large
    {
        width: $image-x-large;
        height: $image-x-large;
    }

    &.circle
    {
        border-radius: 1000px;
    }

    &.rounded
    {
        border-radius: $global-radius;
    }
}
