$mh-prefix-size: 4rem;

.mh-vertical-navigation-list {

  list-style: none;
  padding: 0;
  margin: 0;

  li {

    &:hover {
      background-color: $light-gray;

      .prefix {
        color: $white;
        background-color: $dark-gray;
      }
    }

    font: {
      family: $interface-font;
      size: 0.8rem;
    }

    padding: $spacing;
    background-color: $white;

    .prefix {
      float: left;
      color: $light-gray;
      background-color: $medium-gray;

      margin-right: $spacing;


      width: $mh-prefix-size;
      height: $mh-prefix-size;
      line-height: $mh-prefix-size;

      text-align: center ;
      border-radius: 2000px;

      font: {
        size: 200%;
        weight: 600;
      };
    }

    .linked {
      color: $black;
      font: {
        weight: 500;
      }
    ;
      line-height: 120%;
      a {
        color: inherit;
      }
    }

    .description {
      margin-left: $mh-prefix-size + $spacing;
      font-weight: 300;
      margin-bottom: 0;
      color: $dark-gray;
      font: {
        size: .7rem;
      }
    }

    border-bottom: 1px solid $light-gray;
  }

}
