.top-bar
{
    z-index: 1000;
    ul li a
    {
        font-family: $interface-font;
        font-size: 80%;
        font-weight: 500;

        color: $black;

        i
        {
            color: $secondary-color;
        }
    }
}
