#mh-social, #mh-metadata
{
    li
    {
        display: inline-block !important;
        margin-right: $global-margin /2;

        a
        {
            font:
            {
                family: $interface-font;
            };

            padding: 0;

            color: $dark-gray;
            &::before
            {
                font-size: 2em;
                line-height: 1.5em;

                display: block;

                width: 2em;
                height: 2em;
                margin: 0 auto $global-margin/2 auto;
                padding: $global-padding/2;

                text-align: center;

                color: #fff;
                border-radius: 1000px;
                background-color: $dark-gray;
            }
            &.fi-social-facebook::before
            {
                background-color: #3b5998;
            };

            &.fi-social-twitter::before
            {
                background-color: #55acce;
            };

            &.fi-social-youtube::before
            {
                background-color: #ee0f0f;
            };

            &.fi-social-instagram::before
            {
                background-color: #125688;
            };

            &.fi-social-tumblr::before {
                background-color: #32506d;
            }
        ;

            &.fi-social-google-plus::before {
                background-color: #dd4b39;
            }
        ;

            &.fi-social-pinterest::before {
                background-color: #cb2027;
            }
        ;
        }
    }
}
