$widget-header-font-family: 'Yanone Kaffeesatz';
$widget-base-color: $accent;
$widget-background-color: $white;
$widget-footer-color: darken($widget-background-color, 20%);

.mh-widget
{
    margin-bottom: $global-margin;

    background-color: $widget-background-color;

    header
    {
        border-bottom: 1px solid $widget-base-color;
        background-color: $widget-background-color;
        h1
        {
            font:
            {
                line-height: 1rem;

                family: $widget-header-font-family;
                size: $global-font-size * 1.2;
            };

            text-transform: uppercase;

            color: $widget-base-color;
        }
    }

    > div.body
    {
        font:
        {
            size: .8 * $global-font-size;
        };

        padding: $global-padding;
    }

    footer
    {
        font:
        {
            family: $widget-header-font-family;
        };

        background-color: $widget-footer-color;
    }
}
