/* DASHBOARD WIDGET a class to display dashboard customized information about user status in the system */

.dashboard-widget {
	width: 300px;
	height: 300px;
	max-height: 300px;
	padding: 0;
	display: block;
	float: left;
	background-color: #FFF;
	margin: 15px;
	border: 1px solid #C0C0C0;
	border-radius: 9px 9px 2px 2px;
}

	.dashboard-widget-header {
		margin-bottom: 0px;
		max-height: 40px;
		min-height: 40px;
		padding: 5px;
		border-bottom: 1px solid #C0C0C0;
		border-radius: 9px 9px 2px 2px;
		background: rgb(255,255,255);
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
		
	}

	.dashboard-widget-heading {
		font-size: 14px;
		-webkit-text-shadow: 1px 1px 1px rgba(255, 255, 255, .9);
	}

	.dashboard-widget-body {
		overflow-y: scroll;
		max-height: 210px;
		min-height: 210px;
		background-color: #F8F8F8;
		border: none;
		border-bottom: 1px solid #C0C0C0;
	}
	
	.dashboard-widget-body p {
		margin: 4px 10px;
		font-size: 12px;
	}

	.dashboard-widget-body p.menu-list-item-link {
		margin: 0px;
		font-size: 12px;
	}

	.dashboard-widget-footer {
		padding: 5px 0;
		background-color: #EEEFEE;
		min-height: 48px;
		overflow: hidden;
	}

	/* dashboard-panel-button styles a button in the dashboard to be module wide */
	
	.dashboard-panel-button {
		width: auto;
		margin: 0 15px;
		padding: 5px 12px;
		float: right;
		display: inline-block;
		font-size: 12px;
		border-radius: 5px;
		-moz-border-radius: 5px;
	}


	/* MENU LIST simple menu list. Used in dashboard widgets as needed */


.menu-list {
	background-color: #fff;
	border-bottom: 1px solid #DFDFDF;
}

	.menu-list-item {
		border-bottom: 1px solid #DFDFDF;
	}

	.menu-list-item:last-child {
		border-bottom: none
		}

	.menu-list-item:nth-child(even) {
		background-color: #E6EEF2;
	}

	.menu-list-item-link {
		padding: 5px 10px;
		display: block;
		font-size: 12px;
	}

	a.menu-list-item-link:hover {
		/* apply hover style only if is a link */
		background-color: #39F;
		color: #fff;
	}
