<ul class="right access-icons">
	{% if Auth.User %}
		<li><a href="access/users/login"><i class="fi-key"></i></a></li>
	{% else %}
	    <li><a href="access/users/dashboard"><i class="fi-clipboard-notes"></i></a></li>
		<li><a href="access/users/logout"><i class="fi-power"></i></a></li>
	{% endif %}
</ul>
