{% extends 'layouts/main.twig' %}
{% import 'macros/modules.twig' as modules %}
{% block content %}
    <ul id="mh-home-page-tabs" class="tabs" data-tabs>
        <li class="tabs-title is-active">
            <a href="#mh-news">Noticias</a>
        </li>
        <li class="tabs-title">
            <a href="#mh-anuncios">Tablón de anuncios
            </a>
        </li>
        <li class="tabs-title">
            <a href="#mh-resto">Todas las novedades</a>
        </li>
    </ul>
    <div class="tabs-content" data-tabs-content="mh-home-page-tabs">
        <div class="tabs-panel is-active" id="mh-news">
            {{ modules.widget('mh-catalog-news-feed', '/articles/catalog?site=noticias&layout=index', 'Últimas noticias', '', 'mh-catalog') }}
        </div>
        <div class="tabs-panel" id="mh-anuncios">
            {{ modules.widget('mh-catalog-announces-feed', '/articles/catalog?blogs[]=anuncios&sticky=true&layout=feed', 'Tablón de anuncios', '', 'mh-catalog') }}
        </div>
        <div class="tabs-panel" id="mh-resto">
            {% include 'elements/modules/latest.twig' %}
            {#{{ modules.widget('mh-catalog-all-feed', '/articles/catalog?excludeBlogs[]=noticias&excludeBlogs[]=anuncios&sticky=true&layout=feed', 'Últimas novedades', '', 'mh-catalog') }}#}
        </div>
    </div>
{% endblock %}

{% block page_scripts %}{% endblock %}
