{#
	$this->Page->title(Configure::read('Site.title').': '.Configure::read('Site.tagline'));
	$site = 'noticias'; // Move to a preference
	echo $this->XHtml->rssLink(__('Site feed', true));

#}
{% extends 'layouts/basic.twig' %}
{% block content %}
<div id="mh-main-header">
</div>
<script type="text/javascript">
	$('#mh-main-header').load('/uploads/image_collections/collection/home');
</script>
{% include 'elements/mh-direct-links.twig' %}
<div class="mh-page">
	<div class="row">
		<div class="small-12 medium-8 columns" data-equalizer-watch>
			<ul id="mh-home-page-tabs" class="tabs" data-tabs>
			  <li class="tabs-title is-active"><a href="#mh-news">Noticias</a></li>
			  <li class="tabs-title"><a href="#mh-anuncios">Tablón de anuncios </a></li>
			  <li class="tabs-title"><a href="#mh-resto">Todas las novedades</a></li>
			</ul>
			<div class="tabs-content" data-tabs-content="mh-home-page-tabs">
			  <div class="tabs-panel is-active" id="mh-news">
				  <div class="mh-catalog">
				  	<header>
				  		<h1>Últimas noticias</h1>
				  	</header>
				  	<div id="mh-catalog-news-feed">
					</div>
				  </div>
				  <script type="text/javascript">
				  $('#mh-catalog-news-feed').load('/contents/items/catalog/limit:10/siteName:{{Home.main}}/sticky:1/excludePrivate:1/layout:index');

				  </script>
		 	  </div><!--#mh-news-->
			  <div class="tabs-panel" id="mh-anuncios">
				  <div class="mh-catalog">
					<header>
						<h1>Tablón de anuncios</h1>
					</header>
					<div id="mh-catalog-announces-feed">
					</div>
				  </div>
				  <script type="text/javascript">
				  $('#mh-catalog-announces-feed').load('/contents/items/catalog/limit:10/siteName:{{Home.announces}}/sticky:1/excludePrivate:1/layout:feed');

				  </script>

			  </div> <!--#mh-anuncios-->
			  <div class="tabs-panel" id="mh-resto">
				  <div class="mh-catalog">
					<header>
						<h1>Últimas novedades</h1>
					</header>
					<div id="mh-catalog-all-feed">
					</div>
				  </div>
				  <script type="text/javascript">
				  $('#mh-catalog-all-feed').load('/contents/items/catalog/limit:10/sticky:1/excludePrivate:1/layout:feed');

				  </script>

			  </div> <!-- mh-resto-->
			</div>
		</div>



		<div class="small-12 medium-4 columns" data-equalizer-watch>
			{% include 'widgets/menu.twig' with {'title': 'Encuentranos en', 'menu': 'social', 'selector': 'mh-social', 'icon': 'fi-eye'} only %}
			<div class="mh-widget">
				<header>
					<h1>En colegios también puedes elegir</h1>
				</header>
				<div class="body" id="mh-collection-concertada">

				</div>
				<script type="text/javascript">
					$('#mh-collection-concertada').load('/uploads/image_collections/collection/concertada');
				</script>
			</div>

			{# echo $this->Page->block('/circulars/events/next', array(
				'cache' => '+2 days'
			)); #}
			{# echo $this->Page->block('/cantine/today', array(
				'cache' => '+12 hour'
			)); #}
			<div class="mh-widget">
				<header>
					<h1>Nuestras certificaciones</h1>
				</header>
				<div class="body" id="mh-collection-programas">

				</div>
				<script type="text/javascript">
					$('#mh-collection-programas').load('/uploads/image_collections/collection/programas');
				</script>
			</div>
			{# echo $this->Page->block('/circulars/circulars/current', array(
				'cache' => '+2 days'
			)); #}
			{% include 'widgets/menu.twig' with {'title': 'Proyectos', 'menu': 'proyectos', 'selector': 'mh-proyectos'} only %}

		</div>

	</div>

</div>


{% endblock %}

{% block page_scripts %}


{% endblock %}
