{% for tag in tags %}
    <span class="mh-tag"><a href="/contents/channels/view/{{ channel }}/{{ tag.Label.id }}"
                            style="font-size: {{ 50 + (tag.Label.weight *50/ max) }}%">{{ tag.Label.title }}</a></span>
{% endfor %}
