<header>
    <h1>Gracias por registrarte.</h1>
    <h2>S칩lo un paso m치s y habremos terminado.</h2>
</header>
<div class="body">
    <p>Por favor, comprueba tu correo y visita la direcci칩n que te hemos enviado para confirmar tu registro</p>
    <p><a href="/" class="button right">Ir a la p치gina principal</a></p>
</div>
