{% extends 'layouts/access.twig' %}

{% block content %}
    <header>
        <h1>Se ha completado tu registro</h1>
    </header>
    <p><a href="/" class="button secondary float-left">Ir a la página principal</a><a href="/access/users/login"
                                                                                      class="button primary float-right">Ir
            a la página de acceso</a></p>
{% endblock %}