{% extends 'layouts/access.twig' %}
{% block content %}
	<header>
        <h1>Recuperación de la contraseña</h1>
        <h2>Sólo un paso más y habremos terminado.</h2>
		</header>
	<div class="body">
        <p>Por favor, comprueba tu correo electrónico y visita el enlace para renovar tu contraseña.</p>
        <p><a href="/" class="button primary float-right">Ir a la página principal.</a></p>
	</div>

{% endblock %}