{% extends 'layouts/access.twig' %}
{% block content %}
	<header>
        <h1>Gracias por registrarte</h1>
        <h2>Un administrador revisará tu registro.</h2>
	</header>
	<div class="body">
        <p>Por favor, comprueba tu correo en los próximos días.</p>
        <p><a href="/" class="button primary float-right">Ir a la página principal.</a></p>
	</div>
{% endblock %}