{% extends 'layouts/resumes.twig' %}
{% block content %}
    <header>
        <h1>Inscríbete en nuestra bolsa de trabajo</h1>
    </header>
    <div class="body clearfix">
        <p>En este formulario crearás una cuenta de acceso en la que tu email será tu identificación.</p>
        <p>Procura no utilizar contraseñas iguales a las que utilizas en otros servicios.</p>
        <p>En una siguiente fase podrás incluir tus cualificaciones, formación, experiencia, habilitaciones, etc.</p>
        <p>En cualquier momento podrás acceder a tu currículum para modificarlo, cambiar tus datos de contacto o
            eliminarlo de nuestra base de datos.</p>
        <p>La información que nos proporcionas aquí se utilizará únicamente en relación con posibles vacantes laborales
            en el colegio. No compartimos esta información con ninguna otra empresa u organización.</p>


        <form action="/resumes/resumes/create" class="frontend" id="ResumeCreateForm" method="post"
              accept-charset="utf-8">
            <div style="display:none;"><input type="hidden" name="_method" value="POST"><input type="hidden"
                                                                                               name="data[_Token][key]"
                                                                                               value="040535b98235b541e87f36fd8ad744b403f65a2e"
                                                                                               id="Token1848644543">
            </div>
            <fieldset>
                <legend>Crea tu cuenta</legend>
                <input type="hidden" name="data[Resume][id]" id="ResumeId">
                <div class="row">
                    <div class="small-12 medium-6 columns" id="divResumeEmail"><label><label for="ResumeEmail">Correo
                                electrónico</label>
                            <div class="row collapse">
                                <div class="small-1 columns"><span class="prefix"><i class="fi-mail"></i></span></div>
                                <div class="small-11 columns end"><input name="data[Resume][email]" type="email"
                                                                         wrappostfix="1" labelposition="top"
                                                                         labelsize="3" grid="12"
                                                                         prefix="&lt;i class=&quot;fi-mail&quot;&gt;&lt;/i&gt;"
                                                                         placeholder="En correo para contacto"
                                                                         prefixsize="1" postfixsize="1" inputsize="12"
                                                                         icon="mail" id="ResumeEmail"></div>
                            </div>
                        </label></div>
                    <div class="small-12 medium-6 columns" id="divResumeConfirmEmail"><label><label
                                    for="ResumeConfirmEmail">Confirmar email</label>
                            <div class="row collapse">
                                <div class="small-1 columns"><span class="prefix"><i class="fi-mail"></i></span></div>
                                <div class="small-11 columns end"><input name="data[Resume][confirm_email]" type="email"
                                                                         wrappostfix="1" labelposition="top"
                                                                         labelsize="3" grid="12"
                                                                         prefix="&lt;i class=&quot;fi-mail&quot;&gt;&lt;/i&gt;"
                                                                         placeholder="Por favor, vuelve a escribir tu correo."
                                                                         prefixsize="1" postfixsize="1" inputsize="12"
                                                                         icon="mail" id="ResumeConfirmEmail"></div>
                            </div>
                        </label></div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns" id="divResumeConfirmPassword"><label><label
                                    for="ResumeConfirmPassword">Contraseña</label>
                            <div class="row collapse">
                                <div class="small-12 columns end"><input type="password"
                                                                         name="data[Resume][confirm_password]"
                                                                         wrappostfix="1" labelposition="top"
                                                                         labelsize="3" grid="12"
                                                                         placeholder="Una contraseña" prefixsize="1"
                                                                         postfixsize="1" inputsize="12"
                                                                         id="ResumeConfirmPassword"></div>
                            </div>
                        </label></div>
                    <div class="small-12 medium-6 columns" id="divResumePassword"><label><label for="ResumePassword">Confirmar
                                contraseña</label>
                            <div class="row collapse">
                                <div class="small-12 columns end"><input type="password" name="data[Resume][password]"
                                                                         wrappostfix="1" labelposition="top"
                                                                         labelsize="3" grid="12"
                                                                         placeholder="Por favor, vuelve a escribir tu contraseña"
                                                                         prefixsize="1" postfixsize="1" inputsize="12"
                                                                         id="ResumePassword"></div>
                            </div>
                        </label></div>
                </div>
                <div class="row">
                    <div class="small-5 columns" id="divResumeFirstname"><label><label
                                    for="ResumeFirstname">Nombre</label>
                            <div class="row collapse">
                                <div class="small-12 columns end"><input name="data[Resume][firstname]" type="text"
                                                                         wrappostfix="1" labelposition="top"
                                                                         labelsize="3" grid="12" placeholder="Tu nombre"
                                                                         prefixsize="1" postfixsize="1" inputsize="12"
                                                                         id="ResumeFirstname"></div>
                            </div>
                        </label></div>
                    <div class="small-7 columns" id="divResumeLastname"><label><label
                                    for="ResumeLastname">Apellido</label>
                            <div class="row collapse">
                                <div class="small-12 columns end"><input name="data[Resume][lastname]" type="text"
                                                                         wrappostfix="1" labelposition="top"
                                                                         labelsize="3" grid="12"
                                                                         placeholder="Tu apellido" prefixsize="1"
                                                                         postfixsize="1" inputsize="12"
                                                                         id="ResumeLastname"></div>
                            </div>
                        </label></div>
                </div>
                <div class="row">
                    <div class="small-6 columns" id="divResumePhone"><label><label for="ResumePhone">Teléfono</label>
                            <div class="row collapse">
                                <div class="small-12 columns end"><input name="data[Resume][phone]" type="text"
                                                                         wrappostfix="1" labelposition="top"
                                                                         labelsize="3" grid="12"
                                                                         placeholder="Tu teléfono de contacto"
                                                                         prefixsize="1" postfixsize="1" inputsize="12"
                                                                         id="ResumePhone"></div>
                            </div>
                        </label></div>
                    <div class="small-6 columns" id="divResumeMobile"><label><label for="ResumeMobile">Móvil</label>
                            <div class="row collapse">
                                <div class="small-12 columns end"><input name="data[Resume][mobile]" type="text"
                                                                         wrappostfix="1" labelposition="top"
                                                                         labelsize="3" grid="12"
                                                                         placeholder="Teléfono móvil o alternativo"
                                                                         prefixsize="1" postfixsize="1" inputsize="12"
                                                                         id="ResumeMobile"></div>
                            </div>
                        </label></div>
                </div>
            </fieldset>
            <div class="row"><input type="hidden" name="data[_App][referer]" value="/resumes/resumes/create/1"
                                    id="_AppReferer">
                <div class="column"><a href="/resumes/resumes/create/1" class="button secondary float-left">Descartar
                        cambios</a>
                    <input name="done" value="Crea mi currículum, por favor."
                           class="button primary float-right" type="submit"></div>
            </div>
            <div style="display:none;"><input type="hidden" name="data[_Token][fields]"
                                              value="eaa9eee5f4d8b248807ad4bdc012b8323af90b65%3AResume.id%7C_App.referer"
                                              id="TokenFields338815080"></div>
        </form>


{% endblock %}