{% extends 'layouts/resumes.twig' %}
{% block content %}
    <header>
        <h1>Inscríbete en nuestra bolsa de trabajo</h1>
    </header>
    <div class="body clearfix">
        <p>En este formulario crearás una cuenta de acceso en la que tu email será tu identificación.</p>
        <p>Procura no utilizar contraseñas iguales a las que utilizas en otros servicios.</p>
        <p>En una siguiente fase podrás incluir tus cualificaciones, formación, experiencia, habilitaciones, etc.</p>
        <p>En cualquier momento podrás acceder a tu currículum para modificarlo, cambiar tus datos de contacto o
            eliminarlo de nuestra base de datos.</p>
        <p>La información que nos proporcionas aquí se utilizará únicamente en relación con posibles vacantes laborales
            en el colegio. No compartimos esta información con ninguna otra empresa u organización.</p>


        <form action="/resumes/resumes/create" class="frontend" id="ResumeCreateForm" method="post"
              accept-charset="utf-8">
            <div style="display:none;"><input type="hidden" name="_method" value="POST"><input type="hidden"
                                                                                               name="data[_Token][key]"
                                                                                               value="040535b98235b541e87f36fd8ad744b403f65a2e"
                                                                                               id="Token1848644543">
            </div>
            <fieldset>
                <legend>Crea tu cuenta</legend>
                <input type="hidden" name="data[Resume][id]" id="ResumeId">

                <label>Email
                    <input name="data[Resume][email]" type="email" id="ResumeEmail">

                </label>
                <label>Confirmar email
                    <input name="data[Resume][confirm_email]" type="email" id="ResumeConfirmEmail">

                </label>


                <label>Contraseña

                    <input type="password" id="ResumeConfirmPassword" name="data[Resume][confirm_password]">

                </label>
                <label>Confirmar contraseña

                    <input type="password" name="data[Resume][password]" id="ResumePassword">

                </label>


                <label>Nombre

                    <input name="data[Resume][firstname]" type="text" id="ResumeFirstname">

                </label>
                <label>Apellido

                    <input name="data[Resume][lastname]" type="text" id="ResumeLastname">

                </label>


                <label>Teléfono

                    <input name="data[Resume][phone]" type="text" id="ResumePhone">

                </label>
                <label>Móvil

                    <input name="data[Resume][mobile]" type="text" id="ResumeMobile">

                </label>

            </fieldset>
            <div class="row"><input type="hidden" name="data[_App][referer]" value="/resumes/resumes/create/1"
                                    id="_AppReferer">
                <div class="column"><a href="/resumes/resumes/create/1" class="button secondary float-left">Descartar
                        cambios</a>
                    <input name="done" value="Crea mi currículum, por favor."
                           class="button primary float-right" type="submit"></div>
            </div>
            <div style="display:none;"><input type="hidden" name="data[_Token][fields]"
                                              value="eaa9eee5f4d8b248807ad4bdc012b8323af90b65%3AResume.id%7C_App.referer"
                                              id="TokenFields338815080"></div>
        </form>


{% endblock %}