{% extends 'layouts/resumes.twig' %}
{% block content %}

<header>
    <h1>Recuperando la contraseña.</h1>
    <h2>Sólo nos queda un paso, para terminar.</h2>
</header>
<div class="body">
    <p>Por favor, comprueba tu correo electrónico y visita la dirección que te hemos enviado para renovar tu
        contraseña.</p>
    <p><a href="/cv">Volver a la página principal</a></p>
</div>
{% endblock %}