<header>
    <h1>¿Te gustaría trabajar con nosotros?</h1>
    <h2>Buscamos educadores como tú</h2>
</header>
<div class="body">
    <p>En el Colegio Miralba queremos conocerte. Buscamos personas inquietas por la Educación, preocupadas por dar lo
        mejor de sí para que los niños, niñas, adolescentes y jóvenes desarrollen al máximo su potencial.</p>
    <p>Si eres de quienes buscan que sus estudiantes se cuestionen, se pregunten, que miren el mundo con ojos nuevos
        cada día, que no se queden en la superficie y que disfruten aprendiendo, tenemos mucho de qué hablar.</p>
</div>

<div class="small-up-1 medium-up-3 row">
    <div class="column">
        <div class="card">
            <h3 class="card-divider">¿Quieres enviarnos tu currículum?</h3>
            <p class="card-section">Puedes dejarnos tu currículum vitae y actualizarlo cuando lo desees. Lo
                tendremos en cuenta para futuras oportunidades laborales en el colegio.
            </p>
            <p class="card-divider"><a href="/resumes/resumes/create/1" class="button primary expanded">Crea tu
                    currículum</a></p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <h3 class="card-divider">¿Nos has enviado tu CV y quieres revisarlo?</h3>
            <p class="card-section">Si ya nos has dejado tu currículum vitae pero quieres añadir nuevos logros.</p>
            <p class="card-divider"><a href="/resumes/resumes/login" class="button success expanded">Añade logros a tu
                    currículum</a></p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <h3 class="card-divider">¿Has olvidado tu contraseña?</h3>
            <p class="card-section">Si has olvidado tus credenciales, puedes regenerar la contraseña usando esta
                utilidad.
            </p>
            <p class="card-divider"><a href="/resumes/resumes/forgot" class="button secondary expanded">Restaurar
                    contraseña</a></p>
        </div>
    </div>
</div>

