{% extends 'layouts/resumes.twig' %}
{% block content %}
	<header>
        <h1>Se ha renovado tu contraseña.</h1>
        <h2>Hemos generado una nueva contraseña para tí y acabamos de enviarla a tu correo</h2>
	</header>
	<div class="body">
        <p>Por favor, comprueba tu correo electrónico.{# __d('resumes', 'Please, check your email.'); #}</p>
        <p><a href="/cv" class="button primary float-center">Volver a la página principal</a></p>
	</div>
{% endblock %}