{% import 'macros/headers.twig' as headers %}

<div class="orbit" role="region" aria-label="Images gallery" data-orbit
     data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <ul class="orbit-container">
        {% for image in images %}
            <li class="orbit-slide is-active">
                {{ headers.home(image.name, image.description, image.url, image.path) }}
            </li>
        {% endfor %}
    </ul>
</div>
