<div class="orbit" role="region" aria-label="Images gallery" data-orbit
     data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <ul class="orbit-container">
        {% for image in images %}
            <li class="orbit-slide is-active">
                <img class="orbit-image" src="{{ image.path }}" alt="{{ image.name }}">
            </li>
        {% endfor %}
    </ul>
</div>
