{% macro tree(data, nested) %}
    <ul class="{% if nested %}nested{% endif %} vertical menu">
        {% for page in data %}

            <li><a href="/static/{{ page.slug }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}
