{% import 'macros/blocks.twig' as blocks %}

{% set widget_body %}
    {% for channel in channels %}
        <div class="media-object">
            <div class="media-object-section main-section">
                <a href="/blog/{{ channel.slug }}">{{ channel.title }}</a>
            </div>
        </div>

    {% endfor %}

{% endset %}

{{ blocks.widget('Canales en este espacio', widget_body, 'fi-megaphone') }}
