<div id="mh-tabbed-articles">
    <tabs-bar :feeds="{{ feeds|json_encode }}"></tabs-bar>
    <tabs-content :feeds="{{ feeds|json_encode }}"></tabs-content>
</div>

<script src="/assets/js/modules/contents/articles/articles.js"></script>
