<script src="/assets/js/modules/catalog/article.js"></script>
<script src="/assets/js/modules/catalog/catalogarticlelist.js"></script>
<script src="/assets/js/modules/catalog/catalogview.js"></script>
<div id="{{ element }}"></div>
<script type="text/javascript">
    ReactDOM.render(React.createElement(CatalogView, {
        url: "{{ url|raw }}",
        title: "{{ title }}",
        pollInterval: 1000
    }), document.getElementById("{{ element }}"));
</script>
