<aside class="mh-page-extras" id="mh-downloads">
    <h2 class="mh-page-extras-title">Descargas</h2>
    <downloads-collection context="{{ context }}" alias="{{ alias }}"></downloads-collection>
</aside>

<script src="/assets/js/modules/uploads/downloads.js"></script>
