<script src="/assets/js/vendor/vue.js"></script>
<script src="/assets/js/vendor/vue-resource.js"></script>

{% raw %}

    <aside class="mh-widget">
        <header><h1>Próximos eventos</h1></header>
        <div id="mh-next-events">
            <ul>
                <li v-for="event in events">
                    <event :id="event.id" :date="event.startDate" :label="event.title"></event>
                </li>
            </ul>

        </div>
    </aside>

    <script type="text/javascript">

        var Event = {
            props: [
                'date',
                'label',
                'id'
            ],
            computed: {
                day: function () {
                    theDate = new Date(this.date);
                    return theDate.getDay();
                },
                month: function () {
                    theDate = new Date(this.date);
                    return theDate.getMonth() + 1;
                }

            },
            template: '<p><span class="date">{{ day }}/{{ month }}</span>: <span>{{ label }}</span></p>',
        };

        var nextEvents = new Vue({
            el: '#mh-next-events',
            components: {
                'event': Event

            },
            data: {
                events: []
            },
            created: function () {
                this.load();
                this.timer = setInterval(this.load, 300000)
            },
            methods: {
                load() {
                    this.$http.get('/api/events').then(function (response) {
                        this.events = response.body;
                    }, function (response) {
                        this.events = false;
                    })

                }
            }
        });
    </script>

{% endraw %}
