<aside class="mh-page-extras" id="mh-images">
    <h2 class="mh-page-extras-title">Imágenes</h2>
    <images-collection context="{{ context }}" alias="{{ alias }}"></images-collection>
</aside>

<script src="/assets/js/vendor/vue-images.js"></script>
<script src="/assets/js/modules/uploads/images.js"></script>
