<script src="/assets/js/modules/publicblogs/blog.js"></script>
<script src="/assets/js/modules/publicblogs/publicblogslist.js"></script>
<script src="/assets/js/modules/publicblogs/publicblogs.js"></script>
<div id="mh-public-blogs"></div>
<script type="text/javascript">
    ReactDOM.render(React.createElement(PublicBlogs, {
        url: '/contents/channels/external',
        pollInterval: 7200000
    }), document.getElementById('mh-public-blogs'));
</script>
